body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    font-family: "Roboto Light", sans-serif;
}

/* border checker */
/* div {*/
/*    border: 3px dashed red;*/
/* }*/


.container
{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin:20px 8vw;
    border-radius: 10px;
}

.sidebar {
    position:relative;
    display: flex;
    margin: 5px;
    border-radius: inherit;
    background-color: #181825;
    flex-direction: column;
    align-items: stretch; /* had this set as center so
    the text inside was only filling the INFO box
     rather than the container */
    padding: 0;
    min-width: 200px;
    overflow:hidden;
    z-index: -3;
}

.sidebar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #11111b;
    border-radius: inherit;
    /* Polygons access each corner, top-left, top-right, bottom-left, bottom-right */
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: -1;
}
.sidebar::after {
    content: '';
    position: absolute;
    top: 0;
    left:1%;
    width: 100%;
    height: 100%;
    background-color: #1e1e2e;
    border-radius: inherit;
    /* Polygons access each corner, top-left, top-right, bottom-left, bottom-right */
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: -2;
}



#profile-picture{
    display: flex;
    align-self: stretch;
    margin:30px auto 0 auto;
    width:150px;
    height:auto;
    border-radius: 50%;
}

.profile{
    border-bottom: 1px solid rgba(180, 190, 254, 0.2);
    margin: auto auto 10px;
    width: 80%;

}
.profile>h2{
    font-size: 1.5em;
    font-weight: 600;
    margin-top:20px;
    text-transform: uppercase;
    text-align: center;
    padding:10px;
}
.profile h2 span{
    font-size: 0.8em;
    font-weight: 300;
}

.info {
    width: 100%;
}
/* Lists */
ul {
    padding: 10px;
    overflow:hidden;
}

li {
    font-size: 1em;
    padding:10px;
}

h2{
    margin:0;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
}
h3{
    text-align: center;
    background-color: #11111b;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    margin:0;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
}
.icon-box {
    display:flex;
    justify-content: space-evenly;
    margin:auto 10% ;
    border-top: 1px solid rgba(180, 190, 254, 0.2);
    padding: 10px 0;
}
#twitter-icon {
    height:40px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
}
#github-icon{
    height:40px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
}
.info>ul {
    list-style: none;
}

.inner-container {
    flex-grow: 1;
    display: flex;
    margin: 5px;
    background-color: #181825;
    border-radius: inherit;
    justify-content: center;
}

footer {
    text-align: center;
}

/* Media width Queries */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .sidebar {
        width: unset;
        max-width: unset;
    }
    #twitter-icon, #github-icon{
        height:60px;
    }
}
